
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
======================================================= */

#fh5co-header.navbar-fixed-top .navbar-brand {
  float: left;
    display: block;
    padding-left: 0;
    color: #fff;
  /* background-image: url(../images/logo1.png);*/
	background: url(../images/logo1.png);
    width: 165px;
    height: 46px;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.navbar {
	    position: relative;
	    min-height: 70px;
	    margin-bottom: 0px;
	    border: 1px solid transparent;
	}
	
#fh5co-header .navbar-brand {
    float: left;
    display: block;
    padding-left: 0;
    color: #fff;
   /* background-image: url(../images/logo.png);*/
	background: url(../images/logo.png);
    width: 150px;
    height: 46px;
    background-repeat: no-repeat;
    margin-top: 20px;
}
body {
  font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #2b3841;
    background: #fff;
    height: 100%;
    position: relative;
}

a {
  color: #1760f9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #6173f4;
  outline: none;
}

p {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: #2b3841;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
   margin-top: 0px;
    margin-bottom: 10px;
}
  
h4.title1 {
    font-weight: 700;
}
::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}
.widsec{
padding:4rem 0rem 0rem 0rem;
}

#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
	.industry-sec {
    width: 33%!important;
    margin: 15px 0;
    float: left;
}

@media only screen and (min-width: 768px) {
   .fh5co-nav-toggle {
    display: none!important;
}
h1.fh5co-lead.to-animate.ban-3text.fadeInUp.animated{
	font-size:16px!important;
	line-height:18px!important;
	font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: inherit;
    letter-spacing: 1px;
    
    
}

#fh5co-header #navbar .btn-br, .btn-group-br > .btn  {
  color: rgba(0, 0, 0, 0.8)!important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #000!important;
}

}


.widsec{
	
padding:0rem 0rem !important;

}


  #fh5co-header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #fh5co-header .navbar-brand {
    
    background-image: url(../images/logo1.png)!important;
   }
.mocked-features.style-3 .col-md-4:first-child .feature-item .feature-icon {
    float: left!important;
	margin-right: 30px!important;
    margin-left: 0px!important;
}
.mocked-features.style-3 .col-md-4:first-child .feature-item .feature-body {
    float: left!important;
}
.mocked-features .col-md-4:first-child .feature-item {
    text-align: left!important;;
}

.industry-sec {
    width: 30%;
    margin: 15px 0;
    float: left;
}
  #fh5co-header .navbar-brand {
    color: #6173f4 !important;
  }

  #fh5co-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #fh5co-header #navbar li a:hover {
    color: #6173f4 !important;
  }
  
  #fh5co-header #navbar li a span:before {
    background: transparent !important;
  }
  #fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #f00473 !important;
  }
  #fh5co-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#fh5co-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#fh5co-header #navbar li a {
  font-family: "Lato", Arial, sans-serif;
  color: #fff;
  position: relative;
}
#fh5co-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #ffff;
    visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.project-grid {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 350px;
  margin-bottom: 40px;
}
.project-grid:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.bg-one {background-image: url(../images/project-1.png);
	background-position:center;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.bg-two {background-image: url(../images/project-2.png);
background-position:center;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  }
.bg-three {background-image: url(../images/project-3.png);
background-position:center;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  }

.bg-one:hover {-webkit-transform:scale(1.020);-ms-transform:scale(1.020);transform:scale(1.020)}
.bg-two:hover {-webkit-transform:scale(1.020);-ms-transform:scale(1.020);transform:scale(1.020)}
.bg-three:hover {-webkit-transform:scale(1.020);-ms-transform:scale(1.020);transform:scale(1.020)}
	

.project-grid .desc {
  background: rgba(12, 156, 238, 0.9);
  padding: 10px 20px;
  position: absolute;
  bottom: -93px;
  left: 0;
  right: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.project-grid .desc h3 a {
  color: white;
  margin-bottom:5px!important;
   bottom: 0;
}
.project-grid .desc span {
  color: white;
  letter-spacing: 1.5px;
  font-size: 12px;
  padding-bottom:10px;
}
@media screen and (max-width: 768px) {
  .project-grid .desc {
    bottom: 0;
  }
}
.project-grid:hover:before, .project-grid:focus:before {
  opacity: 1;
  
}
.project-grid:hover .desc, .project-grid:focus .desc {
  bottom: 0;
}

.project-content {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-bottom: 20px;
}
.project-content .col-half {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  overflow:hidden;
}
@media screen and (max-width: 480px) {
  .project-content .col-half {
    width: 100%;
  }
}
.project-content .col-half .project, .project-content .col-half .project-grid {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.project-content .col-half .project:before, .project-content .col-half .project-grid:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  
  
}

.project-content:hover .col-half:hover .project:before, .project-content:hover .col-half:hover .project-grid:before {
 
  background: rgba(0, 0, 0, 1);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  
}



.project-content .col-half .project:before, .project-content .col-half .project:focus:before, .project-content .col-half .project-grid:before, .project-content .col-half .project-grid:focus:before {
  opacity: 1;
  cursor:pointer;
  
}
.project-content .col-half .project .desc, .project-content .col-half .project:focus .desc, .project-content .col-half .project-grid .desc, .project-content .col-half .project-grid:focus .desc {
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .project-content .col-half .project, .project-content .col-half .project-grid {
    height: 340px !important;
    margin-bottom: 20px;
  }
}
.project-content .col-half .project {
  height: 550px;
}
.project-content .col-half .project-grid {
  height: 265px;
  margin-bottom: 20px;
}
.project-content .col-half .project-grid:last-child {
  margin-bottom: 0;
}
.project-content .desc {
   background: #000; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  padding: 10px 20px;
  position: absolute;
  bottom: -93px;
  left: 0;
  right: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.project-content .desc h3 {
  color: white;
  margin-bottom:5px!important;
   bottom: 0;
}
.project-content .desc span {
 color: white;
  letter-spacing: 1.5px;
  font-size: 12px;
  padding-bottom:10px;
}
@media screen and (max-width: 768px) {
  .project-content .desc {
    bottom: 0;
  }
}


#fh5co-header #navbar li a:hover {
  color: #fff;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#fh5co-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}


.m-t20{
	margin-top: 20px;
}
#fh5co-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#fh5co-header.navbar-fixed-top .btn-br, .btn-group-br > .btn  {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
      border: 1px solid #000!important;
}


#fh5co-header.navbar-fixed-top #navbar li a>top-btn{
	border: 1px solid #2b3841!important;
	color:#2b3841!important;
	}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
  color: #f00473;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #f00473;
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
 #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
   
}
.btn.btn-primary.btn-br{
    color: rgba(0, 0, 0, 0.8)!important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #000!important;
}
	
}
#fh5co-header .navbar-default .brand-slogan {
  margin: 0px 0 0 0px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#fh5co-header .navbar-default .brand-slogan em {
  color: #6173f4;
  font-style: normal;
}
#fh5co-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 0;
  clear: both;
}
.section-heading h2 {
  font-size: 35px;
  font-weight: 800;
  color: #2b3841;
  text-transform: inherit;
  position: relative;
  display: block;
  padding-bottom: 10px;
  line-height: 1.5;
}

.section-Ready {
  padding-bottom: 20px;
  margin-bottom: 0;
  clear: both;
}
.section-Ready h2 {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  text-transform: inherit;
  position: relative;
  display: block;
  
  line-height: 1.5;
}
.section-Ready h3 {
  font-weight: 400;
  line-height: 1;
  color: #fff;
  line-height:1.5;
  margin-top:0px;
  font-size:28px;
}
.navbar-nav > li > a {
    padding-top: 10px; 
    padding-bottom: 10px;
}

@media (min-width: 768px){
.navbar-nav {
    float: left;
    margin: 15px 0 0 0;
}
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
.section-heading h3 {
  font-weight: 400;
  line-height: 1;
  color: #2b3841;
  margin-top:0px;
  font-size:18px;
  line-height:1.5;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#lbp-banner-feature{
	height:350px;
	padding-top:150px;
    background-image: url(../images/bg_banner.png);	
}
#lbp-banner-feature h2{
	color:#fff;
	font-size:30px;
	padding-bottom: 0px;
}

#lbp-banner-feature p{
	color:#fff;
	font-size:16px;
}

.features-section{
	padding: 3em 0;
}



#fh5co-our-services,
#fh5co-about-us,
#fh5co-features,
#fh5co-testimonials,
#fh5co-pricing,
#fh5co-press,
#fh5co-our-feature {
  padding: 3em 0;
}
@media screen and (max-width: 480px) {
  #fh5co-our-services,
  #fh5co-about-us,
  #fh5co-features,
  #fh5co-testimonials,
  #fh5co-pricing,
  #fh5co-press,
  #fh5co-our-feature  {
    padding: 5em 0;
  }
}
h2.fh5co-sub-lead.to-animate.fadeInUp.animated {
    font-size: 16px;
	    margin-top: 6px;
}
h3, .h3 {
    font-size: 28px;
    line-height: 1.3;
	font-weight:600;
}

#fh5co-testimonials {
  background: #1b2330;
}
#fh5co-testimonials .section-heading h2 {
  color: white;
}
#fh5co-testimonials .section-heading h2:after {
  background: rgba(255, 255, 255, 0.2);
}
#fh5co-testimonials .section-heading .subtext h3 {
  color: rgba(255, 255, 255, 1);
}
#fh5co-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#fh5co-testimonials .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-testimonials .box-testimony a:hover, #fh5co-testimonials .box-testimony a:focus, #fh5co-testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#fh5co-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#fh5co-testimonials .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #6173f4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonials .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-testimonials .box-testimony blockquote p {
  font-style: italic;
}
#fh5co-testimonials .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#fh5co-testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

#fh5co-pricing .price-box {
  border: 2px solid #ECEEF0;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}
#fh5co-pricing .price-box.popular {
  border: 2px solid #6173f4;
}
#fh5co-pricing .price-box.popular .popular-text {
  top: 0;
  left: 50%;
  margin-left: -54px;
  margin-top: -2em;
  position: absolute;
  padding: 4px 20px;
  background: #6173f4;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-pricing .price-box.popular .popular-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid black;
  border-top-color: #6173f4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#fh5co-pricing .pricing-plan {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
#fh5co-pricing .price {
  font-size: 50px;
  color: #000;
}
#fh5co-pricing .price .currency {
  font-size: 20px;
  top: -1.2em;
}
#fh5co-pricing .price small {
  font-size: 16px;
}
#fh5co-pricing .pricing-info {
  padding: 0;
  margin: 0 0 30px 0;
}
#fh5co-pricing .pricing-info li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#fh5co-our-services,
#fh5co-press {
  background: #f4f4f4;
  width:100%;
  background-image:url(../images/bg_why_Cognidesk.png);
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

#fh5co-our-services .box {
  padding: 30px;
  background: #fff;
  text-align: center;
  color: #7f7f7f;
  margin-bottom: 70px;
  position: relative;
}
@media screen and (max-width: 992px) {
  #fh5co-our-services .box {
    min-height: inherit;
    margin-bottom: 60px;
  }
}
#fh5co-our-services .box .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
}
#fh5co-our-services .box .icon > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-our-services .box .icon > span i {
  font-size: 40px;
  color: #fff !important;
  margin: 0;
  padding: 0;
}
#fh5co-our-services .box .icon.colored-1 {
  background: #2aaf67;
}
#fh5co-our-services .box .icon.colored-2 {
  background: #00bff3;
}
#fh5co-our-services .box .icon.colored-3 {
  background: #f26522;
}
#fh5co-our-services .box .icon.colored-4 {
  background: #e52b50;
}
#fh5co-our-services .box .icon.colored-5 {
  background: #2fc5cc;
}
#fh5co-our-services .box .icon.colored-6 {
  background: #6173f4;
}
#fh5co-our-services .box .step-number {
  font-size: 16px;
  display: block;
  color: #d1d1d1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
#fh5co-our-services .box h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
}


#fh5co-our-feature
{
  background: #f4f4f4;
  width:100%;
  background-image:url(../images/bg_features.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

#fh5co-our-feature .box {
  padding: 30px;
  background: #fff;
  text-align: center;
  color: #7f7f7f;
  margin-bottom: 70px;
  position: relative;
}
@media screen and (max-width: 992px) {
  #fh5co-our-feature .box {
    min-height: inherit;
    margin-bottom: 60px;
  }
}
#fh5co-our-feature .box .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
}
#fh5co-our-feature .box .icon > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-our-feature .box .icon > span i {
  font-size: 40px;
  color: #fff !important;
  margin: 0;
  padding: 0;
}
#fh5co-our-feature .box .icon.colored-1 {
  background: #2aaf67;
}
#fh5co-our-feature .box .icon.colored-2 {
  background: #00bff3;
}
#fh5co-our-feature .box .icon.colored-3 {
  background: #f26522;
}
#fh5co-our-feature .box .icon.colored-4 {
  background: #e52b50;
}
#fh5co-our-feature .box .icon.colored-5 {
  background: #2fc5cc;
}
#fh5co-our-feature .box .icon.colored-6 {
  background: #6173f4;
}
#fh5co-our-feature .box .step-number {
  font-size: 16px;
  display: block;
  color: #d1d1d1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
#fh5co-our-feature .box h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
}



#fh5co-features {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-features {
    padding: 4em 0;
  }
}
#fh5co-features .fh5co-service {
  margin-bottom: 30px;
  float: left;
}
#fh5co-features .fh5co-service .fh5co-icon {
  float: left;
  width: 20%;
}
#fh5co-features .fh5co-service .fh5co-icon i {
  font-size: 40px;
  color: #6173f4;
}
#fh5co-features .fh5co-service .fh5co-desc {
  width: 80%;
  float: right;
}
#fh5co-features .fh5co-service .fh5co-desc h3 {
  margin-top: 0;
  font-size: 18px;
}

#fh5co-press .fh5co-press-item {
  background: #fff;
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item {
    display: block !important;
  }
}
#fh5co-press .fh5co-press-item .fh5co-press-text,
#fh5co-press .fh5co-press-item .fh5co-press-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item .fh5co-press-text,
  #fh5co-press .fh5co-press-item .fh5co-press-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}
#fh5co-press .fh5co-press-item .fh5co-press-text {
  float: left;
  padding: 20px;
}
#fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  position: relative;
}
#fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title .fh5co-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #6173f4;
}
#fh5co-press .fh5co-press-item .fh5co-press-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}
@media screen and (max-width: 480px) {

  #fh5co-press .fh5co-press-item .fh5co-press-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #1776f9;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  width: 25px;
  height: 3px;
  color: #1776f9;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #1776f9;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #1776f9;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 12px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.industry-sec{
	width: 14.2%;
	margin:15px 0;
	float: left;
}
.industry{
  display: block;
  margin: 0 auto;
  
  	 
}
.industry .name {
  font-size: 20px;
  font-weight:600;
  color:#2b3841;
}
.person {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.person img {
  display: block;
  margin: 0 auto;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.person .name {
  font-size: 20px;
  font-weight:600;
  color:#2b3841;
}
.person .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.name {
  font-size: 20px !important;
  font-weight:600 !important;
  color:#2b3841;
  margin-top: 30px;

}
.m-t{
	margin-top:30px;
}
.m-t20{
	margin-top:20px;
}

#footer {
  padding: 50px 0 0 0;
  color: #fff;
  background:#1b2330;
  border-top:1px solid #2f3642;
}
#footer a{
  
  color: #fff;
 text-decoration:none; 
}
#footer h4{
   color: #fff;
    padding-top: 20px;
}
#footer li{
   color: #fff;
   font-size:15px;
   list-style:none;
    
}
#footer ul{
	margin:0;
	padding:0;
}

#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size:10px;
}

ul.copyright1 {
    display: flex;
}
ul.copyright1>li {
    padding-right:4rem;
	
}

.btn {
  
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #6173f4;
}
.btn:hover, .btn:active, .btn:focus {
   color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.btn.btn-primary.t-w{
	color:#fff!important;
	background: transparent;
	border:1px solid #fff!important;
}
.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  text-align:center;
  font-size: 12px;
  display: table;
  width: 24px;
  height: 24px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #f00473;
  color: #fff;
}
.social li a.social-circle {
  background: #f00473;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #f00473; !important;
}
.social.social-box a {
  background: #f00473;
  color: #fff;
}
.social.social-circle a {
  /*background: #f00473;*/
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}


.owl-carousel .owl-controls .owl-nav {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-carousel:focus .owl-controls .owl-nav, .owl-carousel:hover .owl-controls .owl-nav, .owl-carousel:active .owl-controls .owl-nav {
  opacity: 1;
}
.owl-carousel .btn-primary:hover, .owl-carousel .btn-primary:focus, .owl-carousel .btn-primary:active {
  background: #bb0063!important;  
	  border: 1px solid #bb0063!important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-controls .owl-nav {
    display: none;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.owl-carousel .owl-controls .owl-nav .owl-next i:before,
.owl-carousel .owl-controls .owl-nav .owl-prev i:before {
  color: rgba(255, 255, 255, 0.5);
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  right: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i:before {
  color: white;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  left: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i:before {
  color: white;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  background: white;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: white;
  background: transparent;
  border: 2px solid #fff;
}

.owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
    height: inherit;
    padding: 3em 0;
  }
}
.owl-carousel-fullwidth .fh5co-owl-text-wrap {
  position: relative;
}
.owl-carousel-fullwidth .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}
.owl-carousel-fullwidth .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}
.owl-carousel-fullwidth .item img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .iphone-image {
  position: relative;
  z-index: 99;
}
.owl-carousel-fullwidth .item .iphone-image .iphone {
  float: left;
    text-align: right;
    position: relative;
   bottom: -7em;
    right: 6em;
}
@media screen and (max-width: 768px) {
	.owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
    height: 375px!important;
    display: table;
    width: 100%;
}
.oursolution {
	margin-bottom:30px!important;
}
.row {
    margin-left: 0px!important; 
    margin-right: 0px!important;
}

  .owl-carousel-fullwidth .item .iphone-image .iphone {
    bottom: 0em;
    text-align: center;
    float: none !important;
    margin: 0 auto;
    display: block;
  }
  img.img-responsive.img-rounded.res-hidden {
    display: none;
}
.mocked-features.style-3 .feature-item + .feature-item {
    margin-top: 1em!important;
	margin-bottom:3rem;
}
.cnt-pa{
	padding: 1em 0!important;
}
  .owl-carousel-fullwidth .item .iphone-image .iphone {
  float: left;
    text-align: right;
    position: relative;
   bottom: 0em !important ;
    right: 0em!important;
}
}
.owl-carousel-fullwidth .item .iphone-image .iphone img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .fh5co-owl-text {
  display: table-cell;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}
.btn.btn-primary.btn-lg{
  color: white;
  background: #f00473;
  border: 1px solid #f00473;
}
.btn.btn-primary.btn-lg:hover{
	background: #bb0063!important;  
	  border: 1px solid #bb0063!important;
}

.owl-carousel-fullwidth .item .fh5co-owl-text a:hover {
  text-decoration: none;
  color: white;
  background-color:#f00473;
  border-bottom: 1px solid white;
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead, .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead-2, .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
  color: #fff;
  margin: 0;
  padding: 0;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 15px;
    font-size: 15px; 
    display: inline;	
}
.m-r{
	margin-right:15px;
}
.m-r30{
	margin-right:3em;
}
.p-r{
	padding:0 20px;
}
.p{
padding-bottom: 0px;
}
.p-tb{
	padding:20px 0;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #848484;
}
.btn-default:hover {
    color: #fff;
    background-color: #116ae5;
    border-color: #adadad;
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
     color: #fff;
    background-color: #116ae5;
    
}
.feature-body.p-r {
    padding-top: 10px;
}
.cnt-pa{
padding: 2em 3em 3em  0;
position:relative;
}
.btn-br, .btn-group-br > .btn {
	 font-family: "Lato", Arial, sans-serif;
    padding: 10px 20px;
    font-size: 16px;   
	display: inline;
}

.btn.btn-primary.btn-br:hover{
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
}


.btn.btn-primary.btn-br{
	background: transparent;
	border: 1px solid #fff;
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: inherit;
  letter-spacing: 1px;
  color: #fff;
  font-size: 48px;
  line-height: 60px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 30px;
  color: white;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
    font-size: 24px;
    line-height: 34px;
  }
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 3em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
  .btn-br, .btn-group-br > .btn {
    padding: 10px 10px!important;
    font-size: 14px;
    display: inline-block;
}
.nav-btn1{
	    float: left!important;
    padding-top: 19rem!important;
    display: block;
    position: absolute;
	}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 10px!important;
    font-size: 14px;
    display: inline;
	
}
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}
.nav-btn1{
	float:right;padding-top:22px;
	}
.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*------------------------------------
9. Features
------------------------------------*/
#cps-features .cps-section-header {
  margin-bottom: 25px;
}
#cps-features .features-side-img {
  margin-top: 10px;
}

.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feature-list li {
  line-height: 3rem;
}
.feature-list li span {
  font-size: 1.5rem;
  margin-right: 10px;
  width: 15px;
}

/*** Mocked featured ***/
.mocked-features {
  zoom: 1;
  overflow: hidden;
  position: relative;
}
.mocked-features .feature-item {
  margin-top: 22px;
}
.mocked-features .feature-item + .feature-item {
  margin-top: 25px;
}
.mocked-features .feature-item .feature-icon {
  font-size: 3rem;
  line-height: 1;
}
.mocked-features .feature-item .feature-icon span {
  line-height: 1;
}
.mocked-features .feature-item .feature-title {
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 0;
}
.mocked-features .feature-item p {
  margin-top: 10px;
  margin-bottom: 0;
}
.mocked-features .col-md-4:first-child .feature-item {
  text-align: right;
}

/*** Mocked featured 2 ***/
.mocked-features.style-2 {
  margin-bottom: -40px;
}
.mocked-features.style-2 .cps-section-title {
  font-size: 4.8rem;
}
.mocked-features.style-2 .feature-item {
  float: left;
  width: 100%;
}
.mocked-features.style-2 .feature-item + .feature-item {
  margin-top: 60px;
}
.mocked-features.style-2 .feature-item .feature-icon {
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 2.6rem;
  float: left;
  margin-right: 30px;
}
.mocked-features.style-2 .feature-item .feature-icon span {
  line-height: inherit;
}
.mocked-features.style-2 .feature-item .feature-icon + .feature-body {
  width: calc(100% - 100px);
  margin-top: -7px;
}
.mocked-features.style-2 .feature-item .feature-body {
  width: 100%;
  float: left;
}
.mocked-features.style-2 .feature-item .feature-body .feature-title {
  margin-top: 0;
  font-size: 2.2rem;
  font-weight: 400;
}
.about-icon {
	position: unset;
      background: #fff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
    line-height: 4.5;
	 -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

/*** Mocked featured 3 ***/
.mocked-features.style-3 {
  margin-bottom: -49px;
}
.mocked-responsive{
	 margin-bottom: -70px;
}
.mocked-features.style-3 .cps-section-title {
  font-size: 4.8rem;
}
.mocked-features.style-3 .feature-item {
  float: left;
  width: 100%;
}
.mocked-features.style-3 .feature-item + .feature-item {
  margin-top: 6em;
}
.mocked-features.style-3 .feature-item .feature-icon {
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  width: 70px;
  height: 70px;
  line-height: 65px;
  text-align: center;
  font-size: 2.6rem;
  float: left;
  margin-right: 30px;
}
.mocked-features.style-3 .feature-item .feature-icon span {
  line-height: inherit;
}
.mocked-features.style-3 .feature-item .feature-icon + .feature-body {
  width: calc(100% - 100px);
  margin-top: -7px;
}
.mocked-features.style-3 .feature-item .feature-body {
  width: 100%;
  float: left;
}
.mocked-features.style-3 .feature-item .feature-body .feature-title {
  margin-top: 0;
    font-size: 20px;
    font-weight: 600;
}
.mocked-features.style-3 .col-md-4:first-child .feature-item .feature-icon {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
.mocked-features.style-3 .col-md-4:first-child .feature-item .feature-body {
  float: right;
}

.copyright{
	padding:10px 0;
	border-top:1px solid #2f3642;
	font-size:12px;
}
.contact1{
	position: unset;
    background: #fff;
    padding:25px;
	text-align:center;
    display: block;
    margin: 0 auto;
    line-height: 1.5;

}.contact1 h2{
	font-size:25px;
}

.contact{
	position: unset;
    background: #fff;
    padding: 60px;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1.5;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    min-height: 325px;
}
.dropshadow:hover{
	
	 -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
.contact h2{
	font-size:25px;
}
.m-t30{
	padding-top:6em;
}
.mt-10{
	padding-top:1em;
}

.info {
    padding: 0px 0px 80px 20px;
    background: #f3f8ff;
    display: block;
    height: auto;
    border-radius: 10px;
}

ul.rd-list {
    margin: 30px 0px;
}

.rd-form {
    position: unset;
    background: #fff;
    padding: 40px 10px ;
    display: block;
    margin: 0 auto;
    line-height: 1.5;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    height: 750px;
}
.title2{
	font-size:30px;
	font-weight:800;
}
.form-fieldset{
	padding:15px 0;
}
.widgets{
	padding:2rem 0;
}
.txtwhite{
color:#fff !important;	
}
.policy__content{display:block;float:left;margin-left:15%;margin-right:2.35765%;text-align:justify;width:70%}
.half{float:left;width:100%;padding:0;}
.half .tab{position:relative;margin-bottom:1px;width:100%;color:#fff;overflow:hidden;}
.half input{position:absolute;opacity:0;z-index:-1;}
.half label{      position: relative;
    display: block;
    padding: 0px 0px 0 35px;
    font-weight: 700;
    line-height: 3;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    color: #000;
    font-size: 22px;}
.half .blue label{}
.half .tab-content{max-height:0;overflow:hidden;color:#000;font-size:14px;-webkit-transition:max-height .35s;-o-transition:max-height .35s;transition:max-height .35s;}
.blue .tab-content{}
.half .tab-content p{margin:1em;font-size:16px;}
.tab>input:checked ~ .tab-content{max-height:50em;}
.tab>label::after{ color: #1760f9;position:absolute;left:0;top:0;display:block;line-height:3;text-align:center;-webkit-transition:all .35s;-o-transition:all .35s;transition:all .35s;}
.tab>input[type=checkbox] + label::after{content:"+";}
.tab>input[type=radio] + label::after{content:"+";}
.tab>input[type=checkbox]:checked + label::after{content:"-";}
.tab>input[type=radio]:checked + label::after{content:"-";}

.black-text{
	color:#000;
	font-size:18px;
}
.black-text:hover{
	color:#fff;
	font-size:18px;
}
figure.snip1167 {
 
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1167 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1167 img {
     max-width: 100%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0px auto;
    /* display: block; */
    z-index: 1;
    position: relative;
    left: 8%;
}
figure.snip1167 blockquote {
  
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fff;
  padding: 68px 30px 40px 35px;
  font-size: 0.8em;
  font-weight: 500;
  margin: -33px 0 0;
  line-height: 1.6em;
 -webkit-box-shadow: 0px 0px 21px -9px rgba(92,92,92,1);
-moz-box-shadow: 0px 0px 21px -9px rgba(92,92,92,1);
box-shadow: 0px 0px 21px -9px rgba(92,92,92,1);
border:1px solid #ebebeb;
}
figure.snip1167 blockquote:before,
figure.snip1167 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1167 blockquote:before {
 top: 60px;
    left: 8px;
    color: #1365ec;
}
figure.snip1167 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
 color: #1365ec;
}


figure.snip1167 .author {
  padding: 15px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
figure.snip1167 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;  
}
figure.snip1167 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
  padding-top: 5px;
}
blockquote {
         border-left: 0px solid #fff; 
}

h3.h2.fh5co-press-title{
	font-size:22px;
	line-height: 1.3;
	
}
span.datetext{
	color:#c4c4c4;
	
}
.blog-sec2{
	padding: 10px 20px;
	
}
.oursolution {
    position: unset;
    background: #fff;
    padding: 70px 30px 70px 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1.5;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    min-height: 265px;
	cursor:pointer;
}

.oursolution1 {
    position: unset;
    border-radius:5px;
	 background: #60e5ca;
    padding: 70px 30px 70px 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1.5;
    transition: all .3s;
    min-height: 265px;
	cursor:pointer;
}

.oursolution2 {
    position: unset;
    background: #ffe580;
	border-radius:5px;
    padding: 70px 30px 65px 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1.5;
  transition: all .3s;
    min-height: 265px;
	cursor:pointer;
}
.oursolution1:hover {
	border-radius:5px;background-color:#fff;box-shadow:0 0 40px 0 rgba(0,0,0,.1);-webkit-transform:scale(1.020);-ms-transform:scale(1.020);transform:scale(1.020);
}

.oursolution2:hover {
	border-radius:5px;background-color:#fff;box-shadow:0 0 40px 0 rgba(0,0,0,.1);-webkit-transform:scale(1.020);-ms-transform:scale(1.020);transform:scale(1.020);
   
}

.bg-t{
	position: relative;
    margin-top: -160px;
}

.our_solution_sec {
 margin-left: 20px!important;
}

.bg-t{
		position: relative;
	    z-index: -31;
	    margin-top: -160px;	
	}	
	
	
	#ServicePartnership{
	background: #f4f4f4;
	    width: 100%;
	    background-image: url(../images/bg_features.png);
    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    height: auto;
	}


.blog-sec{
	transition: all .3s;
	-webkit-box-shadow: 0px 0px 12px 3px rgba(239,239,239,1);
-moz-box-shadow: 0px 0px 12px 3px rgba(239,239,239,1);
box-shadow: 0px 0px 12px 3px rgba(239,239,239,1);
	cursor:pointer;
	min-height: 360px;
}
.blog-sec:hover{
	border-radius:5px;background-color:#fff;box-shadow:0 0 40px 0 rgba(0,0,0,.1);-webkit-transform:scale(1.020);-ms-transform:scale(1.020);transform:scale(1.020);
	

}

.btn-default:active, .btn-default.active, .open
{background:#0255c8!important;
	
}

.blu-bg{
	background:#1776f9;
	color:#fff;
	border:none;
}
.blu-bg:active:focus{
background:#0255c8!important;
	
	color:#fff;
	border:none;
}

.ico_sol{
	        margin-left: -40px!important;
    width: 18px;
    height: 18px;
	margin-right:10px;
}
.our_solution_sec>h4{
 margin-left: -20px!important;
 font-weight:600;
}
.oursol1{
text-decoration: none!important;
    color: #000!important;
}
.oursol1:hover{
text-decoration: none!important;
    color: #000!important;
}
.oursol1:active{
text-decoration: none!important;
    color: #000!important;
}


h1.fh5co-lead.to-animate.ban-3text.fadeInUp.animated{
	font-size:30px!important;
	line-height:30px!important;
	font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: inherit;
    letter-spacing: 1px;
    
    
}